<head>
    <title>Home</title>
</head>

<div class="col-xs-3 col-md-4"></div>
<div class="col-xs-6 col-md-4">
    <br /><br /><br />
    {{#if name}}
        Hello {{name}}!
    {{else}}
        Hello world!
    {{/if}}
    <form method="post" action="/name">
        <input name="name" type="text" class="form-control" placeholder="Name"/>
        <input type="submit" class="btn btn-primary" />
    </form>
</div>
<div class="col-xs-3 col-md-4"></div>
